image:
  tag: "2.17.0"
sormas:
    dbHost: ""
    dbMaxPoolsize: "128"
    dbName: "sormas_db"
    dbNameAudit: "sormas_audit"
    domainName: "sormas"
    emailSenderAddress: ""
    emailSenderName: ""
    epidPrefix: ""
    jmx: "4096m"
    latitude: ""
    longitute: ""
    locale: "en"
    mailFrom: ""
    mailHost: ""
    mapZoom: "10"
    pgPassword: "changeme"
    pgUsername: "sormas_user"
    serverUrl: "sormas.example.com"
    tz: "Europe/Berlin"
    version: "1.56.1"
    separator: ","
ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/app-root: /sormas-ui
    hosts:
      - host: sormas.example.com
        paths:
          - /
    tls:
      - hosts:
        - sormas.example.com
        secretName: sormas-tls
